body {
  background: #F3F9FF;
  color: #000;
}

#selection {
  position: relative;
  top: 0px;
  padding: 10px 0 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 30px 0px #000;
  background: #04264C;
  text-align: center;
}

#selection a {
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
  margin: 0;
  border-collapse: true;
  border: 1px #000 solid;
  width: 250px;
  display: inline-block;
  background: #0B5696;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-in;
}
#selection a:hover {
  text-decoration: underline;
  border-color: #fff;
}
#selection a.left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#selection a.right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#selection a.selected {
  background: #F3F9FF;
  border-color: #fff;
  color: #0A5696;
  text-shadow: 1px 1px 3px #9B9B9B;
}
#selection a.selected:hover {
  text-decoration: none;
}
